/* Lectures and homepage style sheet */



.homeColumn { /* container for sql query */
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: #d83131;
    border-radius: 15px;
}

.webcam { /* container to hold webcam footage */
    margin: 0;
    width: 65%;
    height: 65%;
    top: 60%;
    left: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.sideColumn { /* text box column */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 25%;
    left: 75%;
    transform: translate(85%, 33%);
    color: rgb(255, 255, 255);
    background-color: #d83131;
    border-radius: 15px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head { /* text box for titles */
    margin: auto;
    text-align: center;
    float: Left;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 2.5%;
    color: rgb(0, 0, 0);
    background-color: #949494;
    border-radius: 10px;
}

/* navbar: */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

li { /* home and lectures buttons */
    float: left;
}

    li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #9c0000;
        }

.active {
    background-color: #707070;
}

/*background colours*/
body {
    background-color: #333;
    background-image: url(backgrounds/uni.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
/*design for login container*/
.enroll-container {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: blue;
    border-radius: 25px;
    background-position: center;
    color: white;
}

.webcamImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transform: translate(0%, -4%);
    border-radius: 15px;
}