<!DOCTYPE html>
<html lang ="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style2.css') }}"> <!--includes css file-->
<title> Register </title>
</head>
<body>

<!--nav bar-->
<ul>
  <li><a class="active" href="#Home">Home</a></li>
  <li><a href="lectures.php">Lectures</a></li>
  <li><a href="/enroll">Enroll Student</a></li>
  <li><a href="/">Register Student</a></li>
  <li style="float:right"><a href="signout.php">Logout</a></li>
</ul>

<!--splits the remaining page into two columns-->
<br><br><br>
<div class="row">
    <div class="column1">
        <h1>text</h1>
    </div>
</div>
</body>
</html>


