


/*navbar colours*
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    background-color:#000000;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
}

/*changes colour when buttons hovered over*
.navbar a:hover {
    background-color:#9c0000;
}

/*current/active navbar colour*
.active {
    background-color:#f30404fa;
    
}

/*puts logout button to right side*
.navbar-right {
    float:right;
}
*/
/* creates column for webcam on left side of screen*/
.column1 {
    float:left;
    width: 100%;
    padding: 10ptx;
    color: rgb(255, 255, 255);
    background-color: rgb(141, 141, 141);
}


.row{
    height: 100%;
}


ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
    font-size: 25px;
}

li{
    float:left;
}

li a {
    display:block ;
    color:rgb(255, 255, 255);
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:#9c0000;
}

.active{
    background-color:#707070;

}
/*background colours*/
body{
    background-color: rgb(212, 53, 32);
    /*background-image:url("lincoln\ cover.jpg") ;*/
    background-repeat: no-repeat;
    background-size: cover;
}


